@using Matassi.Web.Models
@model Matassi.Web.Models.LocalPasswordModel

@{
	ViewBag.Title = "Cambiar Password";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<table class="table tabla-centrada">
	<tr>
		<td>
			<h2>@ViewBag.Title</h2>
		</td>
	</tr>
</table>

<table class="table tabla-centrada">
	<tr>
		<td>
			@using (Html.BeginForm("CambiarPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })


				<div class="form-group">
					@Html.LabelFor(model => model.NewPassword, "Nuevo Password", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-sm-8">
						@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
					</div>
				</div>


				<div class="form-group">
					@Html.LabelFor(model => model.ConfirmPassword, "Confirmar Password", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group btnGuardar">
					<div class="col-md-offset-3 col-md-8">
						@Html.Hidden("userName", (string)ViewBag.UserName)
						<input type="submit" value="Cambiar" class="btn btn-primary" />
						@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
					</div>
				</div>
			}
		</td>
	</tr>
</table>