@using Matassi.Dominio
@model Matassi.Dominio.AccesorioModelo

@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table tabla-centrada">
	<tr>
		<td>
			<h2>@ViewBag.Title</h2>
		</td>
	</tr>
</table>

<table class="table tabla-centrada">
	<tr>
		<td>
			@using (Html.BeginForm("Accesorio_Crear", "AdminModelo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="form-group">
					@Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "col-md-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "col-md-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.MostrarEnAccesoHome)
						@Html.LabelFor(model => model.MostrarEnAccesoHome, "Mostrar para selecionar en los accesos desde la página principal")
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.Vigente)
						@Html.LabelFor(model => model.Vigente, "Vigente")
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ImagenPosteada, "Imagen", htmlAttributes: new { @class = "col-md-3 control-label" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.ImagenPosteada, new { type = "file" })
						@Html.ValidationMessageFor(model => model.ImagenPosteada)
					</div>
				</div>

				<div class="form-group btnGuardar">
					<div class="col-md-offset-2 col-md-8">
						<input type="submit" value="Guardar" class="btn btn-primary" />
						@Html.HiddenFor(codModelo => Model.Modelo.CodModelo)
						@Html.ActionLink("Cancelar", "Accesorio_Lista", new { codModelo = Model.Modelo.CodModelo }, new { @class = "btn btn-default" })
					</div>
				</div>
			}
		</td>
	</tr>
</table>
