@model Matassi.Dominio.Modelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Modelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodModelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodModelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreClave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreClave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bajada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bajada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodModelo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
