@using Matassi.Dominio
@model Matassi.Dominio.ImagenModelo

@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table tabla-centrada">
	<tr>
		<td>
			<h2>@ViewBag.Title</h2>
		</td>
	</tr>
</table>

<table class="table tabla-centrada">
	<tr>
		<td>
			@using (Html.BeginForm("Imagen_Editar", "AdminModelo", FormMethod.Post, new { @class = "form-horizontal" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="form-group">
					@Html.LabelFor(model => Model.Nombre, htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => Model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => Model.Nombre, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => Model.Bajada, htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => Model.Bajada, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => Model.Bajada, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ClaseCSSTitulo, htmlAttributes: new { @class = "col-md-3 control-label" })
					<div class="col-md-8">
						@Html.DropDownListFor(model => model.ClaseCSSTitulo, new SelectList(
																				  new List<Object>{
																					   new { value = "" , text = "- Seleccione"  },
																					   new { value = "tituloBlancoSombraNegra" , text = "Titulo Blanco, Sombra Negra" },
																					   new { value = "tituloNegroSombraBlanca" , text = "Titulo Negro, Sombra Blanca"}
																					},
																				  "value",
																				  "text",
																				0), new
																				{
																					@class = "form-control"
																				})
						@Html.ValidationMessageFor(model => model.ClaseCSSTitulo, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => Model.MostrarEnHome, "Mostrar en la página principal", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => Model.MostrarEnHome, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => Model.MostrarEnHome, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => Model.MostrarEnAccesoHome, "Mostrar para selecionar en los accesos desde la página principal", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => Model.MostrarEnAccesoHome, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => Model.MostrarEnAccesoHome, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => Model.Vigente, htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => Model.Vigente, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => Model.Vigente, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => Model.ImagenPosteada, "Imagen", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						<img src='@Url.Action("VerImagenModelo", new { codImagenModelo = Model.CodImagenModelo })' />
					</div>
				</div>

				<div class="form-group btnGuardar">
					<div class="col-md-offset-3 col-md-8">
						@Html.Hidden("codImagenModelo", Model.CodImagenModelo)
						@Html.Hidden("codModelo", Model.Modelo.CodModelo)
						<input type="submit" value="Guardar" class="btn btn-primary" />
						@Html.ActionLink("Cancelar", "Imagen_Lista", new { codModelo = Model.Modelo.CodModelo }, new { @class = "btn btn-default" })
					</div>
				</div>
			}
		</td>
	</tr>
</table>