@using Matassi.Dominio
@model Matassi.Dominio.VersionModelo

@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table tabla-centrada">
	<tr>
		<td>
			<h2>@ViewBag.Title</h2>
		</td>
	</tr>
</table>

<table class="table tabla-centrada">
	<tr>
		<td>

			@using (Html.BeginForm("Version_Editar", "AdminModelo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="form-group">
					@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-sm-8">
						@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Bajada, htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.EditorFor(model => model.Bajada, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Bajada, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ImagenPosteada, "Imagen actual", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@{
							if (Model.Imagen != null)
							{
								string imageBase64 = Convert.ToBase64String(Model.Imagen);
								string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
								<img src="@imageSrc" width="200" height="100" />
							}
						}
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ImagenPosteada, "Nueva imagen", htmlAttributes: new { @class = "col-sm-3 control-label" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.ImagenPosteada, new { type = "file" })
						@Html.ValidationMessageFor(model => model.ImagenPosteada)
					</div>
				</div>

				<div class="form-group btnGuardar">
					<div class="col-md-offset-3 col-md-8">
						@Html.HiddenFor(codModelo => Model.Modelo.CodModelo)
						@Html.HiddenFor(codVersionModelo => Model.CodVersionModelo)
						<input type="submit" value="Grabar" class="btn btn-primary" />
						@Html.ActionLink("Cancelar", "Version_Lista", new { codModelo = Model.Modelo.CodModelo }, new { @class = "btn btn-default" })
					</div>
				</div>
			}
		</td>
	</tr>
</table>